@import url('https://fonts.cdnfonts.com/css/ailerons');

body {
    font-family: 'Ailerons', sans-serif;
    background: #cc001e;
    color: #f0f4f5;
    padding: 20px;
    text-align: center;
}

.car-box {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background: #0e0e0e;
    border-radius: 12px;
    box-shadow: 0 0 10px #cc001e;
    color: #f0f4f5;
}

.car-box img {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    border: 4px solid #cc001e;
}
button {
    padding: 10px 20px;
    margin: 10px;
    background: #cc001e;
    color: #f0f4f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: #0e0e0e;
    color: #cc001e;
}

#output {
    margin-top: 20px;
    background: #0e0e0e;
    padding: 15px;
    border-radius: 8px;
    color: #f0f4f5;
    text-align: left;
}
